/node_modules
/public/hot
.env
/node_modules
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
storage/
bootstrap/cache/
vendor/
node_modules/